<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESU</title>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
</head>

<body>

    <header>

        <nav>
            <img
                src="https://img.icons8.com/external-filled-outline-geotatah/50/000000/external-earth-emergency-and-disaster-management-color-filled-outline-geotatah.png" />
            <a class="active" href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
            <a href="#">Option 4</a>
        </nav>
        <!--nav-bar-->

        <h1>Save Earth Save Us</h1>

        <div class="slider">

        </div>
        <!--image slider-->

    </header>


    <section class="container">
        <div class="first">
            <p>
                <span>Intro: </span>
                Climatic change has become a global concern over the last few decades. Besides, these climatic changes
                affect life on the earth in various ways. These climatic changes are having various impacts on the
                ecosystem and ecology. Due to these changes, a number of species of plants and animals have gone
                extinct.
            </p><br>
            <p>
                <span>Reason</span>
                We started researching on climate change and came to know that the earth temperature is rising due to a
                phenomenon called the greenhouse effect. The warming up of earth surface causes many ozone depletion,
                affect
                our agriculture, water supply, transportation, and several other problems.
            </p>
        </div>
        <div class="second">
            <p>
                <span>When did it start: </span>
                The climate started changing a long time ago due to human activities but we came to know about it in the
                last century. During the last century, we started noticing the climatic change and its effect on human
                life.
            </p><br><br><br>
            <p>
                <span>What to do: </span>
                Although humans mistake has caused great damage to the climate and ecosystem. But, it is not late to
                start again and try to undo what we have done until now to damage the environment. And if every human
                start contributing to the environment then we can be sure of our existence in the future.
            </p>

        </div>
        <div class="third">
            <p>
                <span>Natural Reasons: </span>
                These include volcanic eruption, solar radiation, tectonic plate movement, orbital variations. Due to
                these
                activities, the geographical condition of an area become quite harmful for life to survive. Also, these
                activities raise the temperature of the earth to a great extent causing an imbalance in nature.
            </p><br>
            <p>
                <span>Human Reasons: </span>
                Man due to his need and greed has done many activities that not only harm the environment but himself
                too.
                Many plant and animal species go extinct due to human activity. Human activities that harm the climate
                include deforestation, using fossil fuel, industrial waste, a different type of pollution and many more.
            </p>
        </div>
    </section>


    <section class="next">
        <div class="main">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam delectus at exercitationem reprehenderit
            eligendi
            sunt vel quisquam, iure dignissimos hic assumenda voluptates debitis natus itaque omnis pariatur. Numquam,
            exercitationem quia!
            Quam, quisquam doloribus sint ipsum, quis blanditiis excepturi laborum animi veniam ratione laboriosam, quae
            ad
            doloremque repellendus itaque ullam vero voluptate enim. Aliquid nesciunt ullam, doloribus ab excepturi
            velit
            ad!
            Dicta, voluptatibus, autem quam, magni inventore vel neque animi saepe cumque reiciendis repudiandae nihil
            officia nostrum unde ut a eum perspiciatis. Tempora quia id nostrum saepe! Minima optio porro adipisci!
            Asperiores corrupti velit culpa atque voluptatum veritatis rerum impedit inventore reiciendis. Aliquam hic
            atque
            at quo maxime iste provident nesciunt quod omnis libero saepe, dolorem explicabo. Odit voluptatum aut quos.
            Dicta explicabo blanditiis necessitatibus voluptate. Illum, maxime culpa! Saepe quidem aut, quibusdam
            inventore,
            odio pariatur voluptas quae obcaecati cupiditate sed deleniti dolores natus provident, porro voluptatem
            repellendus assumenda exercitationem ex.
            Nam esse at numquam animi, soluta voluptate tenetur sit labore molestias architecto voluptatibus velit iure.
            Distinctio, suscipit porro alias quasi pariatur, reiciendis soluta iusto labore quaerat voluptatibus
            nesciunt
            vero optio!
            Eligendi modi pariatur aperiam unde labore perspiciatis voluptas excepturi rem voluptatibus quasi expedita
            provident iste ad aliquam et odit, assumenda architecto beatae esse. Iste corporis, voluptatibus fugit
            delectus
            provident itaque.
            Temporibus suscipit id veritatis hic rem voluptatum, doloremque assumenda labore cupiditate quaerat
            aspernatur
            sapiente sed quo quibusdam nesciunt neque repellendus consequuntur ratione? Esse in mollitia sint culpa ea
            qui
            optio.
            Id modi accusamus laboriosam repellendus corporis perferendis iste accusantium, sunt expedita magnam, at
            voluptatem molestiae minus culpa magni. Qui, culpa. Expedita, atque ratione! Assumenda, sapiente dolorem
            iusto
            fugit harum similique.
            Sed dolor numquam, eaque aspernatur ducimus culpa expedita. Fugit dicta enim ullam quas debitis, quo eum
            tempore
            nobis impedit sapiente repellendus magnam et, ad quis odit aperiam velit error vero!
        </div>

        <aside>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus harum laborum, nemo suscipit est
            voluptate totam odio rerum nisi dolore natus mollitia. Officiis blanditiis nam mollitia quae earum, labore
            autem?
            Ea officiis assumenda recusandae alias tenetur magnam tempore nihil ut esse repudiandae perferendis minima
            eum iste quibusdam quos fugiat cum quas veritatis, natus ipsa hic accusamus iusto ipsum provident. Sequi!
        </aside>


    </section>

    <footer>
        
    </footer>

</body>

</html>