<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUSU</title>
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>

    <header>

        <nav>
            <img src="#" alt="logo" id="logo">
            <a class="active" href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
            <a href="#">Option 4</a>
        </nav>
        <!--nav-bar-->

        <h1>Save Earth Save Us</h1>

        <div class="slider">

        </div>
        <!--image slider-->

    </header>

    <section class="main">

    </section>

    <section class="container">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus praesentium tenetur voluptatum ipsum
                ratione laboriosam odit possimus pariatur laborum cupiditate nemo quo incidunt, iusto voluptas nostrum
                sint est explicabo ea.
                Aspernatur necessitatibus eum qui? Sequi quisquam non modi, enim omnis reprehenderit iste aut odit
                placeat illo recusandae corrupti id quae veniam. Excepturi, quod! Quidem quis modi debitis aspernatur
                voluptatum beatae.</p>
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe itaque culpa omnis, iste rem temporibus odit,
            a exercitationem at officiis odio cupiditate vel ipsum assumenda consequatur debitis commodi eum tenetur?
            Sapiente debitis tempora harum quis atque aspernatur doloremque molestias amet accusamus pariatur qui,
            consequuntur autem ad deleniti dicta eaque expedita, asperiores animi delectus non rem temporibus! Vitae ex
            ipsam nostrum!
        </div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias exercitationem veniam est sunt quo.
            Quibusdam laudantium alias tempora accusamus velit ipsum provident ea nemo quas voluptate laboriosam eum,
            exercitationem doloribus?
            Perspiciatis incidunt provident est inventore! Voluptatem sunt placeat asperiores dolore eum ratione et?
            Dolore ex voluptatibus, voluptate accusantium necessitatibus ducimus, optio ipsa eligendi laudantium ipsam
            consequatur dolor animi temporibus veritatis?
        </div>
    </section>

</body>

</html>